<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/ztree/css/metroStyle/metroStyle.css}">
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/comm.css}">
    <script th:src="@{/libs/jquery.min.js}"></script>
    <script th:src="@{/plugins/layer/layer.js}"></script>
    <script th:src="@{/libs/vue.min.js}"></script>
    <script th:src="@{/plugins/ztree/jquery.ztree.all.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <style>
        .layui-form-label {
            width: 110px;
        }

        .d-content {
            border: 1px solid #eee;
        }

        .d-content .layui-input {
            width: 94%;
        }
    </style>
</head>
<body>
<section class="layui-app-box" style="width: 97%;">
    <div id="vApp" v-cloak>
        <form class="layui-form" action="javascript:;">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" v-model="q.utel" placeholder="帐号" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <select lay-filter="lf-statu">
                        <option value="-1" selected="">请选择</option>
                        <option value="0">正常</option>
                        <option value="1">注销</option>
                        <option value="2">锁定</option>
                    </select>
                </div>
                <button class="layui-btn" data-type="reload"><i class="fa fa-search"></i>&nbsp;查询</button>
            </div>
        </form>
        <table id="layui-grid" class="layui-table" lay-filter="lf-user"></table>
    </div>
</section>
<!-- 头像 -->
<script type="text/html" id="touxiangTpl">
    {{# if(d.headimgurl == null){ }}
    <img src="/img/user.jpg" height="100%" width="100%">
    {{# }else{ }}
    <img src="{{ d.headimgurl }}" height="100%" width="100%">
    {{# } }}
</script>
<!-- 是否关注 -->
<script type="text/html" id="subscribeTpl">
    {{# if(d.subscribe){ }}
    是
    {{# }else{ }}
    <span style="color: #761c19;">否</span>
    {{# } }}
</script>
<!-- 来源 -->
<script type="text/html" id="sourceTpl">
    {{# if(d.source == "0"){ }}
    微信
    {{# }else{ }}
    其他
    {{# } }}
</script>
<!-- 性别 -->
<script type="text/html" id="sexTpl">
    {{# if(d.gender === 0){ }}
        <span style="color: #F581B1;">女</span>
    {{# }else{ }}
        男
    {{# } }}
</script>
<!-- 表格状态模板 -->
<script type="text/html" id="statuTpl">
    {{#  if(d.uStatu === 0){ }}
    <span style="color: #009688;">正常</span>
    {{#  } else if(d.uStatu === 1){ }}
    <span style="color: #FF5722;">注销</span>
    {{#  } else { }}
    <span style="color: #FFB800;">锁定</span>
    {{#  } }}
</script>
<!-- 表格操作按钮模板 -->
<script type="text/html" id="handerBar">
    {{# if(d.uStatu === 0){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="lock">锁定</a>
    {{# }else if(d.uStatu === 1 || d.uStatu === 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="normal">正常</a>
    {{# } }}
</script>
<script th:src="@{/plugins/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/modules/wechat/userList.js}"></script>
</body>
</html>