<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台系统管理</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="css/comm.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="login" id="rrapp" v-cloak>
    <h1>后台系统管理</h1>
    <form class="form" method="post" action="javascript:;">
        <p class="field">
            <input id="uName" type="text" v-model="username" placeholder="账号"/>
            <i class="fa fa-user"></i>
        </p>
        <p class="field">
            <input id="uPwd" type="password" v-model="password" placeholder="密码"/>
            <i class="fa fa-lock"></i>
        </p>
        <p class="field" style="margin-top: 15px;">
            <input id="uCaptcha" type="text" v-model="captcha" @keyup.enter="login" placeholder="验证码"/>
            <i class="fa fa-exclamation-triangle"></i>
        </p>
        <p class="field">
            <img alt="如果看不清楚，请单击图片刷新！" :src="src" @click="refreshCode"/>
            <a href="javascript:;" @click="refreshCode">点击刷新</a>
        </p>

        <p class="submit">
            <input type="button" @click="login" value="登录">
        </p>
    </form>
</div>
<script src="libs/jquery.min.js"></script>
<script src="plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="libs/vue.min.js"></script>
<script src="plugins/layer/layer.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#rrapp',
        data: {
            username: '',
            password: '',
            captcha: '',
            src: 'captcha.jpg'
        },
        beforeCreate: function () {
            if (self != top) {
                top.location.href = self.location.href;
            }
        },
        methods: {
            refreshCode: function () {
                this.src = "captcha.jpg?t=" + $.now();
            },
            login: function () {
                var data = "username=" + vm.username + "&password=" + vm.password + "&captcha=" + vm.captcha;
                $.ajax({
                    type: "POST",
                    url: baseURL + "sys/login",
                    data: data,
                    dataType: "json",
                    success: function (r) {
                        if (r.code == 0) {//登录成功
                            localStorage.setItem("token", r.token);
                            parent.location.href = 'index.html';
                        } else {
                            layer.msg(r.msg);
                            vm.refreshCode();
                        }
                    }
                });
            }
        }
    });
</script>
</body>
</html>
